body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(228, 250, 249);
}
.container {
  text-align: center;
}
button{
    background-color: rgb(49, 81, 88);
    border: none;
    color: white;
    font-size: xx-large;
    border-radius: 12px;
    padding: 12px;
}
.number{
    color: rgb(49, 81, 88);
    font-size: x-large;
    font-weight: 800;
}