body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
.container {
  text-align: center;
}
button{
    background-color: red;
    border: none;
    color: white;
    font-size: xx-large;
    border-radius: 12px;
    padding: 12px;
}
.number{
    color: red;
    font-size: x-large;
    font-weight: 800;
}